[2014-05-06 12:22] duncdrum opened #6 "Menu bar drop down list"
![screen shot 2014-05-06 at 14 10 12](https://cloud.githubusercontent.com/assets/6205362/2889194/eaf78e26-d517-11e3-85be-14055bfaa50c.png)

Would it make sense to add monex to the task bar / menu bar drop down list of applications to launch?
Also Upgrading to 0.3 via dashboard required a restart of exist 2.1RC1 in order for monex to work properly. Maybe a line about that in the package description

[2014-06-20 15:51] christophe-g opened #7 "/status url depends on controller-config.xml"
Hi, just tried out this nice app, thanks ; )
I came across an issue (because my controller-config.xml file is not standard : `<root pattern="/app" path="xmldb:exist:///db/apps"/>` ). Instead of requesting jmx status with urls like `/localhost:8080/status/...`, the app was sending `/localhost:8080/exist/app/index.html/status/...`  .

changing the url para in (exadmin.js. line 90)

[code]

to just (

[2014-08-19 17:58] duncdrum opened #8 "include java version in system info"
![screen shot 2014-08-19 at 7 55 21 pm](https://cloud.githubusercontent.com/assets/6205362/3970435/5d756e50-27ca-11e4-856c-70a0376a7907.png)
Wouldn't it make sense to show the java version in system info box? Especially on mac os x with its competing java releases, i remember having to manually fiddle to make sure exist uses the right java. So having it all in one spot, might make for a little qua

[2014-10-14 11:53] adamretter opened #9 "Does not work when running in Tomcat 7"
When you try and access Monex from the dashboard of eXist 2.2 HEAD deployed as a WAR file in Tomcat 7, you get the following error when it hits `http://localhost:8080/exist/apps/monex/index.html`:

[code]

[2014-11-16 21:20] dizzzz opened #10 "Cardinality issue sorting in browse indexes"
- load docs.xar
- start monex
- go to Browse Indexes
- click /db/apps/docs/data
- click sort by node
- click frequency ( http://localhost:8080/exist/apps/monex/index-keys.html?collection=/db/apps/doc/data&index=lucene-index&node-name=section&show-keys-by=node&sortby=frequency )
- reclick frequency ( http://localhost:8080/exist/apps/monex/index-keys.html?ascending&collection=/db/apps/doc/data&index

[2014-12-03 10:16] #6 closed, assigned to nobody

[2015-02-03 10:34] jensopetersen commented on #10
Does https://github.com/wolfgangmm/monex/pull/13 fix this, @dizzzz ?

[2015-07-07 13:11] mathias-goebel opened #25 "login form action guides to get-url"
why not simply action="index.html":question:
the login form action [attribute] (https://github.com/wolfgangmm/monex/blob/master/modules/app.xql#L261) is generated by the function app:form-action-to-current-url in app.xql. This function returns the request:get-url(). behind a proxy (in my case apache mod_proxy, that does not rewrite the request header) it guides to any localhost:port location, whil

[2015-09-25 18:45] joewiz opened #28 "used vs total numbers swapped in monitoring view (e.g., collection cache)"
The proportion shown should be used / total, but is total / used.

See https://github.com/wolfgangmm/monex/blob/master/index.html#L322

[2015-10-01 18:37] joewiz opened #29 "Improve exception handling"
Currently, if the server running monex runs out of memory, monex will emit an errant notification stating that the *remote* monitored server is out of memory, instead of the server instance running monex. For example, I received this confirmed incorrect email from my monex server saying my production server was out of memory:

[code]

As Wolfgang stated:

[2015-10-02 19:16] #29 closed

[2016-05-04 04:52] ttasovac opened #33 "Adding collation attribute-value pairs corrupts the view of the index"
Adding collation attribute-value pairs corrupts the view of the index in Monex. Consequently, some less stable people, like myself, freak out :)

Without collation, this is what my index looks like:

[the good index](https://dl.dropboxusercontent.com/u/357143/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202016-05-03%2021.24.37.png)

With collation:

    <collection xmlns="http://exist-db.org/c

[2016-09-07 16:15] joewiz commented on #28
Fixed by #31.

[2016-09-07 16:15] #28 closed

[2016-12-22 13:10] bjornawo opened #36 "Index Usage source string cut short"
A long file path for the collection.xconf file causes the string to be cut short making it difficult to figure out what should be indexed.

[2017-01-05 13:02] JonathanRowell opened #37 "Incorrect display of xs:date index keys"
In Browse Indexes the position, documents and frequency are all perfectly correct, but under the column "term" only a question mark is displayed.

[collection-xconf.txt](https://github.com/wolfgangmm/monex/files/687287/collection-xconf.txt)
[kalendar-xml.txt](https://github.com/wolfgangmm/monex/files/687288/kalendar-xml.txt)

[2017-01-30 18:27] joewiz opened #39 "Transfer monex repository to exist organization"
The app has risen from an experimental project to improve the old admin app to an app of central importance to eXist. If being included in the list of autodeployed xars and having an entry in eXist's task bar entry is any measure of an app's importance to eXist, then monex certainly meets the bar for living in the official eXist organization.

[2017-03-01 15:45] adamretter commented on #39
+1 to move it to the eXist-db organization on GitHub

[2017-03-07 15:59] joewiz opened #40 "Align version in public-repo with source in GitHub, prepare version bump"
The version of monex available in the public-repo (0.9.6) contains changes that are not in the GitHub repo (still at 0.9.5). We should update the source in GitHub to the latest changes in public-repo (as discussed with @dizzzz in eXist-db/dashboard#48), update the release notes, and prepare a new release (0.9.7) to get users on the version built directly from source control.

- [x] Reconstruct the

[2017-03-13 15:15] joewiz commented on #7
@christophe-g Are you still using this patch to monex? If so, would you consider filing a PR? Looks like a change that would work and make monex useful outside of eXist's default URL spaces.

[2017-03-13 16:01] joewiz commented on #8
@duncdrum Nice idea! Would you consider filing a PR to add this? I believe it's accessible via:

[code]

The available system properties are documented at https://docs.oracle.com/javase/tutorial/essential/environment/sysprop.html

[2017-03-13 16:04] joewiz commented on #10
@dizzzz Do you have an update on this? A likely fix, #13, was merged in.

[2017-03-13 16:05] joewiz commented on #25
@mathias-goebel I believe this was fixed by https://github.com/wolfgangmm/monex/pull/32. If you can confirm, we can close this issue.

[2017-03-13 16:08] joewiz commented on #33
@ttasovac Interesting.

@wolfgangmm Is this to be expected? I seem to recall that the application of a collation will change the way index values are stored. [From the lucene docs on collations](https://lucene.apache.org/core/4_1_0/analyzers-common/org/apache/lucene/collation/package-summary.html), "Collation converts each token into its binary CollationKey using the provided Collator, allowing it

[2017-03-13 16:09] joewiz commented on #36
@bjornawo Could you please post a screenshot illustrating this? I'm having trouble figuring out where you're seeing this.

[2017-03-13 16:11] joewiz commented on #37
@JonathanRowell Thanks for posting this.

Just to help me/others remember, here was [my initial assessment](http://markmail.org/message/52dji7eftyfrcei6) on exist-open:

[2017-03-13 16:13] joewiz commented on #37
@wolfgangmm Do you think there's any hope of retrieving the original date or datetime values, or is the act of indexing them irretrievably altering the source data for the purposes of querying by lucene?

[2017-03-13 19:05] duncdrum commented on #8
@joewiz, let me see what i can cook up

[2017-03-13 20:05] #40 closed

[2017-03-14 15:44] duncdrum commented on #8
i couldn't figure out how to get it via jmx despite this [discussion](http://stackoverflow.com/questions/14246375/determine-java-version-through-jmx)

[2017-03-15 12:04] dizzzz commented on #10
Ok I'll check

[2017-03-16 07:25] bjornawo commented on #36
![scr](https://cloud.githubusercontent.com/assets/1363044/23985973/10d37816-0a22-11e7-84b4-2f8a74be50d8.png)

[2017-03-16 14:05] joewiz opened #43 "Release monex 0.9.7"
To include improvements from https://github.com/wolfgangmm/monex/pull/41.

[2017-03-16 14:10] joewiz commented on #43
monex 0.9.7 is now released at http://demo.exist-db.org/exist/apps/public-repo/packages/monex.html?eXist-db-min-version=3.0.2.

Without commit permissions on the repo, I haven't tagged the commit I built against, but it would've been https://github.com/wolfgangmm/monex/commit/db2985113111d5f104d56cdcd8d7149959d84979.

[2017-03-16 14:10] #43 closed

[2017-03-16 14:11] joewiz commented on #43
Also, the release only went to the public-repo, not to https://github.com/wolfgangmm/monex/releases (where the latest is 0.2 from 2014).

[2017-03-16 14:22] joewiz commented on #36
@bjornawo I meant to ask: Could you confirm your version of eXist and monex?

I think I see the problem, even in the current releases of eXist 3.1.0 running monex 0.9.7: The `app:truncate-source()` function (see [source](https://github.com/wolfgangmm/monex/blob/master/modules/app.xql#L409-L418)) that is responsible for trimming the path here *should* be at least showing the filename, but it assume

[2017-03-16 14:25] joewiz commented on #36
@bjornawo One more observation: The fact that some of the entries in the Source column show no path at all suggests to me that you're running an older, pre 0.9.6 version of monex when some fixes to path truncation were released. If a monex update is available to you via Dashboard > Package Manager, you might try the current release for some relief, though this won't fix the Windows path issue, whe

[2017-03-17 20:31] #8 closed

[2017-03-24 01:47] joewiz opened #44 "Error "Cannot find module class from EXPath repository" when starting previous monex 0.9.6 installation under eXist 3.1.1"
I've encountered the same glitch on two machines when opening monex for the first time after starting eXist 3.1.1 on an existing database (initialized under 3.1.0) where monex 0.9.6 had been installed.  I got this error when starting monex (via <http://localhost:8080/exist/apps/monex/index.html>):

The default package manager tells me 0.9.6 is installed, and the 0.9.6 jars are on disk:

monex's mo

[2017-03-24 01:55] joewiz commented on #44
Some more tests:

[code]

This query raises the same exerr:ERROR error:

Adding the `at` clause raises a different error:

[code]

[2017-03-24 11:53] mathias-goebel commented on #44
we had this issue when moving an instance and it is propably because of the files
`webapp/WEB-INF/data/fs/db/apps/monex/.exist/classpath.txt`
`webapp/WEB-INF/data/expathrepo/monex-0.9.7/.exist/classpath.txt`
which contians absolute pathes to the jar files. it is not possible to move an instance right now.
(please give me an hint, when i should open a new issue for this, but it seems to be the same

[2017-03-24 13:12] joewiz commented on #44
@mathias-goebel Hmm, I'm not sure that would cause the issue here. I'm working with the macOS DMG installer, which puts the data directory outside the typical `$EXIST_HOME/webapp/WEB-INF` directory, in `~/Library/Application Support/org.exist`. This has the advantage of allowing upgrades of the application binaries while keeping the database as is (without backup/restore). So I would expect the tw

[2017-03-24 13:40] mathias-goebel commented on #44
ok, thanks.
yes i tried to move the folder on the local machine.
i started https://github.com/eXist-db/exist/issues/1382

[2017-03-26 00:28] joewiz commented on #44
I just found this in `webapp/WEB-INF/logs/expath-repo.log` from the other night when I observed this on the 2nd machine:

I think the key bit here is:

This led me to inspect monex's expath-pkg.xml from 0.9.6:

[code]

So as soon as eXist 3.1.1 tried to start up and found monex was only compatible with versions 3.0.2-3.1.0, eXist refused to load it.

I think this explains the problem.

Solutions:

[2017-03-29 11:28] bjornawo commented on #36
@joewiz It seems like we are running an older version of eXist-db (2.2) with Monex version 0.7. The newer Monex versions will only generate a HTTP 400 bad request.

I will get back to you if I get the chance to test the path issues in Windows on a newer release.

[2017-03-29 12:13] joewiz commented on #36
The current version of monex requires eXist 3.x. I would have thought eXist 2.2 would warn you when installing an incompatible version, but I guess not.

Good luck!

[2017-07-14 10:13] duncdrum commented on #44
since 0.9.8 no longer includes the server-max value. I think its good to close this here?

[2017-07-14 10:23] duncdrum commented on #9
Still happening on 3.x, with monex 0.9.8, and  tomcat 7.0.56. Any reason why the PR from 2014 is still open?

[2017-09-11 08:02] duncdrum opened #46 "[Question] accessing log file from monex"
It just occurred to me that it is strange that we don't have a quick access to the exist log file from within monex. This could help with quick diagnosis from a distance, without having to jump through the hoop of setting up remote console, etc.
The left bar with "Monitoring local", "Profiling", "Indexes", …  seems the natural place for another entry, that opens the log file in the browser/ or to

[2017-09-12 02:53] joewiz commented on #46
I like the idea. The socket-based approach used for the monex remote console pane could perhaps be used to show exist.log (and/or other log files), but is beyond my capabilities. I did find a ready-made solution: https://github.com/mthenw/frontail. A couple of others here: https://stackoverflow.com/questions/4078352/web-implementation-of-tail-f-filename. If you're interested would you like to have

[2017-09-12 07:06] duncdrum commented on #46
Looks promising, it might be a while before I get around to it, but I ll see what I can come up with.

[2017-09-22 17:54] windauer opened #47 "Display Fails / Hits ratio"
E.g.

dom.dbx: Size: 1639 / Used: 1639 / Fails: 8963 / Hits: 14192913 / **Ratio:  0,63%**
structure.dbx: Size 1639 / Used: 1639 / Fails: 4257873 / Hits: 14192913 / **Ratio:  0,3%**

A ratio exceeding certain values could further be emphasized (e.g. yellow, orange red background)

[2017-09-28 16:40] duncdrum opened #48 "potential regression rconsole NPE is back"
Just updated to exist 3.5.0 and Monex 0.9.9
and the log shows multiple variations of:
[code]

so far I can't tell what's going on, will update / close here as things progress.
also i see the option to connect to history.state.gov for remote monitoring…@joewiz ??
![screenshot 2017-09-28 21 45 25](https://user-images.githubusercontent.com/6205362/30987206-7370535e-a496-11e7-8116-15a501f3a722.png)

[2017-10-13 12:45] duncdrum commented on #48
fixed in 0.9.10

[2017-10-13 12:45] #48 closed

[2017-11-25 04:46] #39 closed

[2018-02-06 21:00] dizzzz opened #51 "Small textual changes... request"
We can probable remove text like

and

[2018-02-16 11:58] duncdrum opened #52 "make handling of instances.xml more robust"
instances.xml is currently handled like any other resource. Which means that it is easy to accidentally include tokens for remote instances in pull-request, and that remote configs don't persist through updates.
It would be both more convenient and secure if the file would be handled slightly differently. But i m not yet sure how to go about it.

[2018-03-05 10:30] rvdb commented on #9
I see this issue has been closed, but I'm still seeing the exact same error when deploying eXist-4.0.0 in Tomcat-7.0.50. Is there a solution meanwhile that I've missed?

[2018-03-05 10:57] duncdrum commented on #9
@rvdb a related issue reported to my cbdb-data repo was closed, this issue about running monex on tomcat is still open, and not solved as far as I know

[2018-03-05 11:09] rvdb commented on #9
@duncdrum Ok, sorry, I was confused by the `Closed` label for your referring issue. Still hoping for a fix, then... (would be really nice to finally have Monex inside Tomcat!)

[2018-03-05 19:15] joewiz commented on #9
Fixed by #11.

[2018-03-05 19:18] joewiz commented on #51
In the remote console pane.

[2018-03-05 19:22] dizzzz commented on #51
![monitoring_and_profiling_for_exist__monex_](https://user-images.githubusercontent.com/1700062/36994933-f4710b72-20b2-11e8-87e5-76be8694a5c6.png)

[2018-03-05 20:43] rvdb commented on #9
Unfortunately, it's still not working here... I've rebuilt monex at https://github.com/eXist-db/monex/commit/697318688871c7dd7ded36877a885b2dd68b910e, in following environment:

- eXist-4.0.0
- tomcat-7.0.85
- jdk1.8.0_161
- Windows 7 Professional, 64 bit

When accessing the Monex app, I still get the same error:

    <exception>
      <path>/db/apps/monex/modules/view.xql</path>
      <message>ex

[2018-03-05 21:13] joewiz commented on #9
@dizzzz @duncdrum Apparently #11 did not fix the issue.

Does anyone have a suggestion about what is tripping up monex here? It seems to be unable to resolve the path to the console module (which should be registered when monex is installed) when monex is installed within tomcat.

[2018-03-05 21:20] dizzzz commented on #9
strange.....

[2018-03-05 21:28] duncdrum commented on #9
@joewiz I applied the fix from the PR on a colleagues tomcat when debugging his system, and it worked (around exist 3.3-5). Outside of that I have zero experience with Tomcat, so I don't even know where to begin.

[2018-03-06 14:48] #51 closed

[2018-04-09 11:06] dizzzz opened #54 "Cache reporting not OK"
I think the numbers should be swapped (left <--> right)

![capture](https://user-images.githubusercontent.com/1700062/38494590-ca890ea4-3bf6-11e8-9afe-ee1f482f01ae.PNG)

[2018-04-09 12:48] joewiz commented on #54
Monex is just passing the values from JMX. See the HTML template code at https://github.com/eXist-db/monex/blob/master/index.html#L299-L301 which pulls `CurrentSize` and `MaxTotal` from the JMX report; here is a sample returned on my machine showing `CurrentSize` > `MaxTotal`.

[code]

So perhaps this is actually an issue with eXist's JMX code - a difference in units or order of magnitude generate

[2018-04-12 01:36] joewiz commented on #9
Thanks, all for reporting and testing the fixes to the various issues reported here. I think we can close this one now. If there are any remaining Tomcat issues, please open a new issue.

[2018-04-12 01:36] #9 closed

[2018-04-12 18:45] dizzzz opened #57 "New build required: wrong content 0.9.13"
The freshly released version v0.9.13 contains too many JAR files (from jetty to be specific).

I think these JAR files were not cleaned wit `ant clean` or so. `exist.xml` does not contain any references anymore to the jetty jars, which is good.

please regenerate the XAR without these jetty JAR files.

[2018-04-12 18:56] dizzzz commented on #57
fixed by reuploading XAR file

[2018-04-12 18:56] #57 closed

[2018-05-28 14:41] wolfgangmm opened #58 "Port backup and shutdown from dashboard"
Before disabling the new dashboard we agreed to move the backup and shutdown actions from the old dashboard into monex.

[2018-06-15 12:57] duncdrum commented on #58
As we discussed during the last community call @JoernT will add backup to the new dashboard, shutdown is still destined for monex.

[2018-06-15 15:36] JoernT commented on #58
fyi - backup panel is in the works already

[2018-06-15 15:55] windauer commented on #58
@duncdrum, @JoernT I thought we agreed on Monday that backup and shutdown stay in the Dashboard. I'd rather see a "Admin Section" within the Dashboard than moving admin functionality into our monitoring and profiling tool Monex.

[2018-08-27 17:54] joewiz opened #60 "Update for compatibility with eXist 5.0.0"
According to @adamretter, XML format of JMX in 5.0.0 has changed slightly, and monex's javascript is tightly coupled to old JMX output.

- [ ] Make parsing of JMX XML more resilient, if one element fails, just ignore and move to the next instead of exploding.
- [ ] Update javascript to use new names for JMX format
- [ ] Extend functionality to report new cache info
- [ ] Write unit tests
- [ ] Wri

[2018-09-10 18:03] joewiz commented on #60
According to @dizzzz the JMX side is fixed. We still need to test monex.

[2018-09-10 18:15] dizzzz commented on #60
monex is not yet working :-(

<img width="585" alt="image" src="https://user-images.githubusercontent.com/1700062/45316068-3d883c00-b536-11e8-9221-800a7f8aef16.png">

[2018-10-02 13:52] move[bot] opened #61 "New feature requirement: actual file sizes of indexes in jmx status report"
*@pwin commented on Oct 2, 2018, 12:30 PM UTC:*

### What is the problem

I had a paradoxical extremely large index file (ngram.dbx) occur in exist-db v2.1 but did not "see" this developing from the data in e.g. monex

### What is the suggestion

proposal for jmx information to be extended to include actual size of the index files (in addition to the memory footprint of the index caches)

*This is

[2018-10-02 13:55] duncdrum commented on #61
Hi Peter, we ll have to touch upon the jmx parser code that ships with monex for the release of 5.0.0 so there is a good chance that this might make it into an update of monex soon.

 I think the feature request makes sense and would be a good addition to the information currently displayed by monex.

[2018-10-24 16:02] djbpitt commented on #60
In 5.0rc4 in Monex 0.9.16 (running on Centos 6) I see:
[code]
in the "Monitoring (local)" view and no activity. Other views (indexes, profiling, data visualizer) all seem to work.

[2018-10-24 19:43] dizzzz commented on #60
which java version?

[2018-10-25 06:38] djbpitt commented on #60
jdk1.8.0_9

[2018-12-11 13:36] duncdrum commented on #60
integration tests should go into [e2e-core](https://github.com/eXist-db/e2e-core) for now

[2018-12-11 14:03] dizzzz commented on #60
The issue is not yet fixed; issue 1: as the lock-ing code has been changed, the JMX reporting is not relevant anymore. This can be fixed by adding a condition check for < 5.0.0  issue 2: some cache manager JMX stats are missing; this should not be the case according to @adamretter

[2018-12-14 22:00] duncdrum opened #62 "the build system is messy, let's switch or fix."
currently the build system requires a full local clone of exist (still pointing to wolfgangs develop clone), this seems all kinds of bad with respect to repeatable builds. There is also around 100 `.jar` on the classpath for no discernible reason, other then `exist/**.jar` is quick to type.

I've been able to wiggle these down to 5, but i m stomped by a build that runs on local yet throws weird ja

[2018-12-15 14:32] dizzzz commented on #62
Mavenizing the build should probably be not too large of an issue (as long no git *&^%^& submodules are used), but the blocker for  a long long time is https://github.com/eXist-db/exist/pull/2140 (the PR is written after more than a half year of work making many fixes in many places). This PR blocks quite some pending work for me, e.g. it does not allow me to work on a few XAR files for more than

[2018-12-15 14:42] wolfgangmm commented on #62
@dizzzz still there are 6 remaining failures in that  PR and unfortunately each is rather hard to fix. I've been working on it for a longer time.

[2018-12-15 14:47] duncdrum commented on #62
@dizzzz while i agree that the xqsuite PR is important, i don't see how it impacts the build over here.  There is currently a single xqsuite unit test for monex that might be affects (it passes right now), java tests for console and remoteConsole as well as integrations tests are unaffected by 2140.

[2018-12-15 15:01] dizzzz commented on #62
@wolfgangmm thnx for the info!

[2018-12-16 17:10] duncdrum commented on #60
see a2c7227f9b80e203615214e50bd8895e5404928b
manually testing `0.9.17` (installed from public repo) in ` 5.0.0-SNAPSHOT` build `201812151801`
all seems to be working.
i get a console error on `profiling.html`
[code]

when enabling the query-tracing on the same page the exist.log contains the following warning
[code]

[2018-12-17 15:04] joewiz commented on #62
Addressed by #63

[2018-12-17 16:47] #62 closed

[2019-01-08 11:50] duncdrum opened #69 "Progressbar when reindexing collections"
sibling of the JAC issue eXist-db/exist#479

[2019-01-28 11:25] mgraauw opened #70 "console logs entire source for XQuery"
console:log(...)
logs the function name to console,html when called inside a function in the 'source' column (before line/column).

However, when console:log(...) is called from an XQuery body, the entire XQuery source is logged to the 'source' column - which gives large output for large XQueries.

Just logging the XQuery filename in those cases would be an improvement.

[2019-02-15 16:54] duncdrum opened #71 "remove / rewrite hipchat module"
monex has a hipchat module at `monex/src/main/xar-resources/modules/hipchat.xql`
rewrite for slack, delete, keep ?

see exist-db/exist#2475

[2019-02-15 17:06] joewiz commented on #71
Direct link: https://github.com/eXist-db/monex/blob/master/src/main/xar-resources/modules/hipchat.xql

HipChat is discontinued, so this module cannot be used anymore. The API for other services is certainly different, so I agree this would need to be rewritten if anyone wants the same functionality with a different service like Slack, Rocket.Chat, etc.

I say we remove it, and anyone can consult t

[2019-02-20 18:54] joewiz opened #73 "Can't install monex in eXist 5.0.0-RC*"
As reported in exist-open (https://markmail.org/message/nlhzzsojc44bjvgi), eXist-5.0.0-RC* is unable to install the current version of monex (v0.9.17) because monex has a dependency on eXist, expressed as `semver-min="5.0.0-SNAPSHOT"` (see https://github.com/eXist-db/monex/blob/master/pom.xml#L66). According to semver 2.0 precedence rules for pre-release metadata (see https://semver.org/#spec-item

[2019-02-20 19:33] joewiz commented on #73
Comments welcome about the approach proposed here:

[2019-02-20 21:49] adamretter commented on #73
Maybe best to choose the lowest RC version where it works... "RC1" perhaps?

On Wed, 20 Feb 2019, 20:33 Joe Wicentowski, <notifications@github.com>
wrote:

[2019-02-20 22:19] joewiz commented on #73
That makes sense.

p.s. This makes me yearn for a more expressive notation for expressing ranges. What we really need is `>=5.0.0-RC1 || 5.0.0-SNAPSHOT` (using the NPM semver package's range syntax: https://github.com/npm/node-semver#ranges).

p.p.s. Hopefully we won't have more than 4 more RCs, because `RC10 < RC2`. Maybe next time we should start off with `RC.1` to ensure numeric sorting.

[2019-03-13 19:13] #71 closed

[2019-04-02 09:20] duncdrum commented on #73
how about `semver-min="4.999.999"` this gives us room for RC10. I would also suggest a new release to incorporate my last set of fixes

[2019-04-04 07:38] duncdrum commented on #73
so #75 fixes bugs in both 0.9.16 (aka `4.x`) and  0.9.17 (aka `5.x`) but I have no means of porting them without breaking sem-ver.

To fix this we should remove `0.9.17` from public repo and re-release that as `0.10.0` with my fixes making it `0.10.1`, while the same fixes should be ported to 4.x as `0.9.18` to avoid confusion with the just removed `0.9.17`

[2019-04-04 13:32] joewiz commented on #73
@duncdrum raises a good point.

We'll need new branches for the 4.x and 5.x line of development. How about this: For simplicity’s sake and alignment with Dashboard, we call the eXist 4.x-bound line Monex 1.x and the eXist 5.x-bound line Monex 2.x. Monex is mature enough to consider it a stable API, and thus deserves a major release instead of forever `0.x` prefixes. Then `develop` will be the `2.x

[2019-04-24 12:34] duncdrum opened #78 "index browser is missing mock indexes"
index browser had some test indexes that we used for … testing, they are missing in monex 2.0.0
![Screenshot 2019-04-24 at 14 27 56](https://user-images.githubusercontent.com/6205362/56659465-7b893900-669d-11e9-9ed5-7fdeaf6733ab.png)

[code]

[2019-04-24 21:48] joewiz commented on #73
The work proposed here is complete. I'll prepare releases of the two new versions now.

[2019-04-24 21:48] #73 closed

[2019-04-25 18:43] joewiz commented on #78
Strange, https://github.com/eXist-db/monex/tree/master/src/main/xar-resources/indexes-test and https://github.com/eXist-db/monex/blob/master/src/main/xar-resources/pre-install.xql#L31-L34 show that the resources in question are present in the repo and are properly placed when the xar is installed...

[2019-04-26 14:59] duncdrum commented on #78
after a bit of digging, `collection.xconf` files are copied to `system/db/apps/**/...` as expected for docs,  exide,  etc so `pre-install.xql` are processed as expected for other apps.

there are no indexes (test or normal) for monex,  which explains why my frontend branch is so sluggish.

there are no errors in the logs when installing the xar (this might be a separate bug) the only messages in t

[2019-04-29 13:49] #78 closed

[2019-05-28 00:15] joewiz commented on #60
In my testing just now with the current eXist develop branch (5.0.0-RC8-SNAPSHOT), the remote console pane does not connect to the `/rconsole` endpoint:

I see that in e2ecore we have @duncdrum's test for the remote console pane, but it seems to only check that the `#status` element is loaded, not that it says `Connected.` See https://github.com/eXist-db/e2e-core/blob/master/cypress/integration/5.

[2019-05-28 08:54] duncdrum commented on #60
same here, once we fix `rconsole` we should indeed update he e2e-core test.

[2019-05-28 09:49] adamretter commented on #60
@joewiz I already discussed the rconsole stuff with @wolfgangmm. I did some preliminary digging and contacted the Jetty team with Wolfgang CC'd on the emails. I believe it was left with him deciding where to place some code for the WebSocket stuff. Perhaps this one fell through the cracks, and needs its own issue?

[2019-06-10 13:50] joewiz commented on #60
@adamretter As requested by @duncdrum, could you please post the emails?

[2019-06-12 15:30] adamretter commented on #60
@joewiz and @duncdrum The thread on the `jetty-users` mailing list from 3rd May 2019 starts here - https://www.eclipse.org/lists/jetty-users/msg08893.html

[2019-06-16 17:19] wolfgangmm commented on #60
Upon further debugging, it looks like jetty is finding the jar and tries to scan it for annotations:

[code]

It does not seem to react on the @ServerEndpoint annotation though. I tried adding `javax.websocket-api` to the poms, but without success so far.

[2019-06-17 09:56] wolfgangmm commented on #60
For websockets to work in Jetty, some dependencies are missing server-side, in particular `javax.websocket.api`. eXist core only lists `websocket-servlet`, which I think is not even needed if you use the javax annotations.

For now I added the necessary dependencies to monex itself, which works fine with our classloader. We should think about a clean up though and either add the correct jars to co

[2019-07-19 16:54] joewiz opened #92 "Remote console (websockets) regression"
**Problem:** Requests to `ws://localhost:8080/exist/rconsole` fail return a 404 with monex 1.0.1, whereas the 0.9.6 release does not exhibit this error.

**Background:** As reported on exist-open by @craigberry and confirmed by @simar0at:

@simar0at added:

@craigberry confirmed:

[2019-07-19 16:59] craigberry commented on #92
monex 1.0.0 has the same error.  And it is downgrading to 0.9.16, not 0.9.6, that has been confirmed to work.

[2019-07-19 17:14] duncdrum commented on #92
see eXist-db/e2e-core#24and the community call notes, this is the `404` behaviour i see on docker as well

[2019-07-19 17:42] joewiz commented on #92
@duncdrum During the community call, I thought we were talking about monex 2.x. I couldn't reproduce any problems with the rconsole/websockets on monex 2.x with 5.0.0-develop. Are you seeing problems in 2.x too, or just 1.x?

[2019-07-19 18:20] duncdrum commented on #92
as you can see in the logs both on `4.7` and `5.0.0-RC8-Snapshot`

[2019-07-23 08:24] duncdrum commented on #92
see eXist-db/exist#2880

[2019-07-24 01:11] joewiz commented on #92
I can reproduce the report of the remote console pane not working under monex 1.0.1 + eXist 4.7.0. Also, I can confirm that downgrading to monex 0.9.16 (by downloading it from the public-repo's website and installing the xar via Package Manager) and restarting eXist restores the remote console pane functionality of monex.

However, with monex 2.0.2 + eXist develop (5.0.0), the console pane works f

[2019-10-07 15:59] joewiz opened #108 "Prepare new monex release for eXist 5.1.0"
As noted by @duncdrum in the 2019-09-30 Community Call:

[2019-10-29 20:31] joewiz commented on #108
@duncdrum I notice that the pom [currently](https://github.com/eXist-db/monex/commit/d31d23d663c09b22f631246e01344940e4ff6ced#diff-600376dffeb79835ede4a0b285078036R67) says 5.1.0-SNAPSHOT. I assume I should update this to 5.1.0 for the release targeting 5.1.0, correct?

[2019-11-04 14:45] joewiz commented on #108
@duncdrum Just saw your thumbs up - thanks, will do! - but perhaps best to reply with a comment since emoji thingies don't trigger notifications.

[2020-01-07 13:53] adamretter opened #116 "[BUG] RemoteConsoleEndpoint should declare an error handler"
[code]

[2020-03-16 15:45] lguariento opened #121 "[BUG] Firefox can’t establish a connection to the server at ws://myip:8080/rconsole."
Hello,

I have a fresh installation of eXist-db 5.2. running on CentOs 7. When I open the Monex application I'm asked for the admin password; after successfully logging in I get a ' Alert! Connection to server failed. Retrying ... ' message at the top of the page, and I have these errors in the console:

`Firefox can’t establish a connection to the server at ws://myip:8080/rconsole. exadmin.js:231

[2020-03-16 15:52] lguariento commented on #121
Interestingly, when I click on instances.xml within the 'remote monitoring' page, I get this message from eXide:

`Failed to load document /db/apps/monex/instances.xml: 400 Bad Request`

[2020-03-16 16:03] lguariento commented on #121
I see that @joewiz writes that Monex 2.x and eXist-db 5.x should work well together (https://github.com/eXist-db/monex/issues/92#issuecomment-514439442). I'm using Monex 2.1.1, and I still get the issue mentioned in #92 .

[2020-03-16 16:11] lguariento commented on #121
OK, this is weird. I downgraded, as suggested in #92 , to Monex 0.9.16, which doesn't work out of the box with eXist-db 5.2.0 since it gives this error:

[code]

Therefore I updated it, via the package manager, from 0.9.16 back to 2.1.1, and now it works a expected. It might be a workaround useful to others.

[2020-03-16 16:11] #121 closed

[2020-04-04 13:31] SnowMakerDemo opened #122 "[BUG] indexes on namespaced nodes can not be displayed"
![image](https://user-images.githubusercontent.com/28621460/78452093-e0298200-76bb-11ea-8caa-932a4878d647.png)
![image](https://user-images.githubusercontent.com/28621460/78452101-e7e92680-76bb-11ea-81af-d944769d4364.png)
![image](https://user-images.githubusercontent.com/28621460/78452108-ecadda80-76bb-11ea-82be-d0de83a178a5.png)

**Context (please always complete the following information):**
 -

[2020-04-08 09:51] line-o commented on #70
@mgraauw can you provide us some more details on your environment. At least, the version of exist-db and monex are needed in order to help you. An small example xquery would be great, too.

[2020-04-08 10:05] line-o commented on #108
@joewiz Can this issue be closed?

[2020-04-08 11:09] duncdrum commented on #122
i suspect and error with the empty namespace being reset, based on the fragment posted by the OP. But we do need a full sample to reproduce. We should consider adding a test, as this kind of namespace resetting is easily triggered.

[2020-04-08 11:12] line-o commented on #33
The links to the test-data are broken.

[2020-04-08 11:27] #44 closed

[2020-04-08 11:31] line-o commented on #60
monex 2.1.1 is compatible with eXist 5.x.x

[2020-04-08 11:31] #60 closed

[2020-04-08 21:26] joewiz commented on #122
/move monex

[2020-04-08 21:47] joewiz commented on #108
@line-o Yes, thanks.

[2020-04-08 21:47] #108 closed

[2020-04-15 13:00] mgraauw commented on #70
This has been a while - I had some 5.x eXist then, which I don't have now - still have 2.2 but I don't expect fixes there. I'll close the issue.

[2020-04-16 00:10] joewiz commented on #70
It’s a valid issue that I’d like to keep open. It still affects current versions of exist and monex. Thanks.

[2020-04-16 11:41] line-o commented on #70
This is likely the code that needs to be adapted

https://github.com/eXist-db/monex/blob/master/src/main/java/org/exist/console/xquery/Log.java#L190

[2020-04-21 02:35] SnowMakerDemo opened #123 "How to add or change an Xml namespace in exist / Cannot use 'xmlns' in the name expression"
How to add or change an Xml namespace in exists / Cannot use 'xmlns' in the name expression

[2020-04-21 03:14] joewiz commented on #123
Is this a monex question? Can you provide more information?

[2020-04-21 03:21] SnowMakerDemo commented on #123
update insert  attribute xmlns:qqq {$importTargetNamespace} into $schema

![image](https://user-images.githubusercontent.com/28621460/79821816-44d62380-83c2-11ea-8efb-a71e547c5232.png)

[2020-04-21 05:16] joewiz commented on #123
See https://markmail.org/message/mj7ko5gbprpr4e63. For further questions please open a new issue in the eXist repo or, better yet for XQuery questions (this isn’t a bug), write to the exist-open mailing list or Slack channel. See links in the eXist repo’s README.

[2020-04-21 05:16] #123 closed

[2020-04-21 05:42] SnowMakerDemo commented on #123
thank you

[2020-04-25 17:19] joewiz commented on #122
@SnowMakerDemo The cause of the error is that the `@qname` value in the following range index entry is invalid:

[code]

The clearest description of how to use `qname` is in the documentation for the old range index: https://exist-db.org/exist/apps/doc/oldrangeindex#pathvsqname and @wolfgangmm's original article describing the feature: http://atomic.exist-db.org/blogs/eXist/NewIndexing.

Basically

[2020-04-29 18:30] #122 closed

[2020-05-01 23:16] craigberry opened #127 "Data Visualizer considered harmful"
**Describe the bug**
I was using monex to monitor the performance of a sluggish application.  Among the monex left menu choices, I looked at monitoring, and the console (because the app prints a few key performance measures to the console), and then clicked on Data Visualizer (sic), which I had never used before, hoping to find something useful.  It said something about "index mapping" and I didn'

[2020-05-02 22:55] joewiz commented on #127
@windauer Could you confirm if you were the original contributor of the "Data Visualizer" pane to monex? I traced its appearance in the repository here to https://github.com/eXist-db/monex/pull/1.

[2020-05-04 10:35] windauer commented on #127
@joewiz yes I have initialy contributed the "Data Visualizer". To be honest I haven't used the feature in the past years at all so perhaps the easiest would to simply drop it? Otherwise I do like the idea of @craigberry to not start the execution of the index2json script when clicking in the menu but to have an extra button on that side + a warning to not execute this on an online production syste

[2020-05-04 17:56] joewiz commented on #127
@windauer Thank you!

As discussed on the community call, we are in favor of removing it for the next release.

[2020-06-03 08:47] adamretter opened #128 "[BUG] Monex doesn't handle websocket errors"
Monex WebSocket needs to handle errors

As reported by Andreas Wagner:

[code]

[2020-06-03 15:16] joewiz commented on #128
Link to the post: https://markmail.org/message/r6k23ewmo43pq37l

[2020-11-09 23:06] move[bot] opened #135 "[BUG] java.lang.NoSuchMethodError: org.exist.source.Source.getKey()Ljava/lang/Object;"
*@joewiz commented on Nov 9, 2020, 10:28 PM UTC:*

**Describe the bug**

Using the current develop branch, the `xdb:xquery` ant task throws this error:

For the corresponding error in exist.log, see [exist-hsg-project-log.txt](https://github.com/eXist-db/exist/files/5513570/exist-hsg-project-log.txt) - which culminates in:

The error is not present when building from the develop branch older than

[2020-11-09 23:11] adamretter commented on #135
@joewiz Monex uses some internal eXist-db APIs which were modified recently, and therefore Monex needs some updates and a new version of Monex is needed. You can see the failures here: https://travis-ci.com/github/eXist-db/monex/builds/187773219

[2020-11-10 00:22] #135 closed

[2020-11-10 13:49] windauer opened #138 "Make Monex use JavaScript libs specified in package.json instead of /src/main/xar-resources/resources/scripts"
Monex loads JavaScript resources from src/main/xar-resources/resources/scripts. This means although JQuery 3.5.x is specified in package.json it still uses JQuery 1.9.x from src/main/xar-resources/resources/scripts.

[2020-11-11 13:14] #127 closed

[2020-11-11 13:17] line-o commented on #70
The upcoming version of monex 3.0.0 will have this fixed.

[2020-11-11 13:20] line-o commented on #70
e92814c3c47568d21d406e4347cf552402df89ef

[2020-11-11 13:32] line-o commented on #116
duplicate of #128

[2020-11-11 13:32] #116 closed

[2020-11-11 13:36] line-o opened #140 "add integration test to check for expected version"
The integration tests do not check for the correct version to be installed.

- Expose the current monex version, if not yet available.
- Add a test that checks for the monex version.

[2020-11-11 13:37] line-o commented on #92
@joewiz what is the status of this issue? Was it fixed in the meantime?

[2020-11-11 16:39] line-o commented on #70
Now that 3.0.0 is released this needs to be retested and can hopefully closed afterwards.

[2020-11-30 02:01] joewiz commented on #92
@line-o It's awaiting resources for a fix by someone invested in using monex under eXist 4.x.

[2021-03-11 22:05] lguariento opened #146 "[BUG] Monex 3.0.2 refuses to install from the package manager's list"
It is not possible to update / install Monex when clicking on the 'install' icon in the list of available packages or when updating an existing installation of Monex (say 2.x).

**Expected behavior**
I'd expect to install Monex when clicking on the install package icon from the package manager.

**To Reproduce**
Go to the package manager where there's an old version of Monex, click 'update'. Or go

[2021-03-12 01:39] joewiz commented on #146
@lguariento I was not able to reproduce this. My steps:

1. Wipe the eXist data directory
2. Start eXist 5.2.0 stable, which installs monex 2.1.1 during startup
3. Quit eXist 5.2.0
4. Start eXist 5.3.0-SNAPSHOT (develop built 10 March 2021)
5. Go to Package Manager, accept prompt to update to monex 3.0.2.

There were no errors, and monex works. Similarly, downloading monex 3.0.2 from [monex's publ

[2021-03-14 19:01] lguariento commented on #146
I think we can safely conclude that it was a temporary bottleneck of my own connection, since the error is not happening any more.

[2021-03-14 19:01] #146 closed

[2021-06-17 10:43] #138 closed

[2021-11-25 13:27] line-o opened #165 "[BUG] facets might be displayed incorrectly"
**Describe the bug**

The display of elements that are in a facet (or dimension) might be incorrect. The count for each entry might be incorrect.
This can lead to confusion as monex is used as a tool to check if indices of a collection  are set up properly.

**Expected behavior**

A complete list of elements present in a facet each with the correct count.

**To Reproduce**

Set up a collection wit

[2021-11-26 02:27] joewiz commented on #165
Thanks, Juri! I wasn't aware of this issue, and I'd like to be able to better understand your report and the fix in #166. Ideally, I could set up the `/db/lucenetest` collection with the same data and `xconf` file used to see exactly what you're seeing. Would that be possible?

[2021-11-26 09:37] line-o commented on #165
@joewiz Of course, I'll add the setup to the issue description

[2021-11-26 15:59] joewiz commented on #165
@line-o Thank you! The "Minimal Test-Setup" perfectly illustrates the problem.

[2021-11-26 15:59] #165 closed

[2022-01-27 05:46] joewiz opened #175 "[BUG] Cypress test failures under eXist 5.4.0"
**Describe the bug**

Since updating monex's pom.xml to require eXist 5.4.0 (to prepare a version compatible with this release), CI and local runs of `npm run cypress` tests fail on the monitoring page at http://localhost:8080/exist/apps/monex/console.html.

See the output below (from my local system) showing the failures.

This is strange, because in the past when the monitoring page failed, the

[2022-01-27 22:13] joewiz commented on #175
The underlying error is triggered when opening http://localhost:8080/exist/apps/monex/console.html and Monex's console.js and exadmin.js make websocket requests to ws://localhost:8080/exist/rconsole. This appears when building monex from master HEAD (3.0.4-SNAPSHOT) and installing into eXist 5.4.0—despite monex declaring a dependency on the identical version of jackson as eXist-db core.

Chrome's

[2022-01-30 22:39] adamretter commented on #175
@joewiz I have occasionally seen this error for some months, but I didn't investigate as I assumed it was some problem with Monex.

From your notes above it looks like the Java part of Monex is not correctly loaded and deployed - as it is that which provides the WebSocket server part. I will take a look into this at some point in the future if no one gets to it first

[2022-01-30 22:56] adamretter commented on #175
So I just checked, and between eXist-db 5.3.0 and 5.4.0 some Jetty libraries were removed from eXist-db as technically they are unused at compile time by eXist-db, and removing them did not seem to effect the runtime of eXist-db tests either. These unused libraries were reported by the static analysis tools. The libraries that were removed are:

* jetty-annotations
* jetty-jndi
* jetty-plus

As Mo

[2022-01-30 23:31] joewiz commented on #175
I think I might've spotted the problem too when running 5.4.0-SNAPSHOT a time or two in recent months, but I neglected to investigate further. I think I was mostly using 5.3.1 release.

Your theory definitely sounds plausible! I found the PR where the libraries were removed - https://github.com/eXist-db/exist/pull/4164 - and tried putting them back. Result with 6.1.0-SNAPSHOT?

I'll open a PR shor

[2022-02-01 03:43] joewiz opened #178 "[BUG] mvn release:perform failure"
The dry run and rollback worked fine, and the prepare worked fine, but the perform failed, at this point:

[code]

As a result, I performed the final push of the prepare and perform commits, and I published the .xar to GitHub Releases manually.

Something failed with GitHub Release?

If anyone has any suggestions, it would be great to get this working.

[2022-02-01 03:44] joewiz commented on #178
Also, after the prepare and release commits, my local repository had package.json and package-lock.json. I would have expected maven to commit all of the build artifacts it was responsible for having created.

[2022-02-01 03:54] joewiz opened #179 "[BUG] GitHub Actions CI runs are failing"
Alas, I was wrong in https://github.com/eXist-db/monex/pull/172#issuecomment-1020753132 when I said:

I'd be grateful for any insights into what is causing this pattern with master:

[2022-02-01 17:42] adamretter commented on #178
I don't really know the GitHub Release plugin. I think it was added to eXist by Lars and/or Juri... Perhaps they know?

At a guess the error seems to be complaining about a missing documentation url

[2022-02-14 21:37] duncdrum commented on #179
https://github.com/eXist-db/monex/blob/4ce81cc8232ea7cff08f5055b2c6d5c993d8b6ef/pom.xml#L51-L52 is not aligned with https://github.com/eXist-db/monex/blob/4ce81cc8232ea7cff08f5055b2c6d5c993d8b6ef/pom.xml#L321

[2022-02-14 22:24] joewiz commented on #179
@duncdrum Thanks! We came to a similar conclusion during today's call. We noticed a new failure, though, in the dependabot PR where exist.processor.version was raised to 6.0.1 - https://github.com/eXist-db/monex/pull/182. @adamretter suggested that we try switching the `console:log` test query from eXide's execute endpoint to eXist's REST endpoint. After testing that locally and finding it passed,

[2022-02-14 22:26] joewiz commented on #179
Or perhaps we should only increment both to 5.4.1 - since 5.4.1 and 6.0.1 are, in fact, on the same version of eXist.

Again, I don't have a good understanding of the underlying strategy for these two eXist values.

[2022-02-14 22:37] duncdrum commented on #179
@joewiz i m not sure what we gain by switching to the rest endpoint, since the console page of monex will still point to db/apps/…    The current test code checks that both the page is loading, and that the endpoint is connecting properly.

I’m can’t speak for @adamretter

[2022-02-14 22:43] joewiz commented on #179
@duncdrum Besides switching from eXide to REST, my commit also introduced some extra checks and delays - https://github.com/eXist-db/monex/pull/182/commits/73344ac9ab9956964c62e37c9598401d320c931d#diff-0c6fb1a95b251215e5df936cbdeff625968e72a66b4119589a1a1a2c91aa8824R53-R54 - which I think may actually have been essential to getting CI to work, even with the switch to 6.0.1. On my localhost, before

[2022-02-14 23:07] joewiz commented on #179
Drat. The PR passed CI, but the merge failed. I'll try a pair of PRs - one reverting both exist.java-api.version vs. exist.processor.version to 5.4.1 and one advancing both to 6.0.1.

[2022-02-14 23:13] joewiz commented on #179
Also, monex builds are slooooooooow.

[2022-02-14 23:36] joewiz commented on #179
In local tests of my 6.0.1-bound build, the first run failed, but the 2nd, 3rd, 4th, and 5th passed. Then the 6th failed.

So I added `Cypress._.times(10, () => { }` around the block of tests that were failing. (I found this incantation here: https://stackoverflow.com/a/68019476/659732.)

The result is that of 10 iterations of the same test, 7 passed and 3 failed:

[code]

Repeating the same 10 it

[2022-02-15 00:23] joewiz commented on #175
Closed by https://github.com/eXist-db/exist/pull/4215.

[2022-02-15 00:23] #175 closed

[2022-03-14 21:47] joewiz commented on #179
Locally, under the 6.1.0-SNAPSHOT-bound build (#190), with my 10x iterations of the tests as in the last post, I am still seeing the intermittent failures.

Whether CI passes or fails seems to be the flip of a coin.

Very strange.

[2022-03-25 14:28] amclark42 opened #191 "Index for new range field doesn’t show keys [BUG]"
**Describe the bug**
I created a range index field for a collection, but Monex doesn’t show any keys for that index. However, a query using the `range` functions confirms that the index has been populated.

**Expected behavior**
I expected to see the keys indexed for the given field.

**To Reproduce**
[code]
The test suite above should completely pass, and return something like:

[code]

The tear-

[2022-06-07 14:46] #70 closed

[2022-09-06 23:21] djbpitt opened #206 "Filter reports by source"
This is a request for a new feature in Monex.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm always frustrated when I can't easily focus on my own code in Monex profiling reports because results that concern the code that I wrote are intermingled with results produced by Monex its

[2022-09-07 06:42] line-o commented on #206
I removed the template placeholder text from the description

[2022-09-07 08:02] duncdrum commented on #206
@djbpitt at least for index `tare` is already there to help https://github.com/eXist-db/monex/pull/34

[2022-09-19 18:46] line-o commented on #92
@joewiz can we close this issue now that exist 4 is no longer maintained?

[2022-09-19 18:47] line-o commented on #92
We might check how many times monex 1.x.x is still downloaded.

[2022-10-03 14:57] vincentml opened #213 "Errors showing keys for Lucene indexes [BUG]"
I've run into two problems trying to use Monex to inspect Lucene indexes.

1. Trying to view index keys by QName returns 0 keys even when the index is populated. This looks similar to issue #191
2. Trying to view index keys by Node gives a 500 error with a message "name is empty"

At first I thought this was an error in the way that I created the indexes but after testing with a minimal example th

[2022-11-30 23:01] joewiz opened #217 "Investigate issues with v3.0.5 release, prepare v3.0.6"
v3.0.5 was released but the pom.xml file [still reads](https://github.com/eXist-db/monex/blob/1b5ca7a7b7416d4c112c23bdb681dde8b265ccfa/pom.xml#L15) 3.0.5-SNAPSHOT, and release notes [are missing](https://github.com/eXist-db/monex/blob/4bebd908888b9c0dc5fe1ce7118ffdbc4430cdae/xar-assembly.xml#L243-L248).

We should investigate what happened with this release and then prepare a new version with rele

[2022-11-30 23:40] adamretter commented on #217
@joewiz The `pom.xml` file should now be correct, I simply hadn't finished the process.

Regards the release notes in the `xar-assembly.xml`, I was not aware of those. Are they meant to be auto-generated? If not, we should probably document what the release process is for Monex in the `README.md`.
As otherwise a developer who is unaware of any manual steps that are needed needed (like myself), wil